# Создание админа при первом docker compose up.
ADMIN_LOGIN=admin
ADMIN_PASSWORD=enter_password

# Настройки базы данных
MYSQL_ROOT_PASSWORD=root_enter_password
MYSQL_USER=admin
MYSQL_PASSWORD=db_enter_password
MYSQL_DATABASE=shop_db

# 0 = чистая БД со схемой и настройками, 1 = залить компоненты из seed_components.php
SEED_DATA=0