.env
/vendor/
node_modules/
*.log
tests/phpunit.phar
src/tests/.phpunit.result.cache
src/assets/uploads/**
!src/assets/uploads/**/
!src/assets/uploads/**/.gitkeep
src/assets/images/branding/*
!src/assets/images/branding/.gitkeep