*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
:root{
	--clr: #222327;
}
body {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	color: #000;
	font-weight: normal;
	background: var(--clr);
}
body::-webkit-scrollbar {
	width: 5px;
}
body::-webkit-scrollbar-track {
	background: #ffffff30;
}
body::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background-color: orange;
}


/*HEADER*/
.header {
	height: 90px;
	display: flex;
	position: fixed;
	border-bottom: 1px solid hsla(0,0%,100%,.15);
	width: 100%;
	background-color: #ffffff10;
	backdrop-filter: blur(20px);
	top: 0;
    left: 0;
    z-index: 9;
}
.header__inner{
	padding: 0 200px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.logo {
	max-height: 100px;
	padding-top: 20px;
	padding-bottom: 20px;
	transition: transform .3s;
}
.logo:hover {
	transform: scale(1.3);
}

/*NAVIGATION*/
.nav{
	display: flex;
	position: relative;
	width: 400px;
	height: 70px;
	justify-content: center;
	align-items: center;
}
.nav ul{
	display: flex;
	width: 100%;
}
.nav ul li{
	display: flex;
	position: relative;
	list-style: none;
	width: 70%;
	height: 70%;
	z-index: 1;
}
.nav ul li a{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	text-align: center;
	font-weight: 500;
	text-decoration: none;
	color: #fff;
}
.nav ul li a .icon{
	padding-top: 15px;
	position: relative;
	display: block;
	height: 60px;
	width: 60px;
	font-size: 1.5em;
	text-align: center;
	transition: 0.5s;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 50%;
}
.nav ul li:hover a .icon{
	transform: translateY(40px);
	background-color: rgba(176, 87, 248, 0.7);
}
.nav ul li a .text{
	position: absolute;
	display: block;
	font-weight: 400;
	font-size: 0.75em;
	letter-spacing: 0.05em;
	transition: 0.5s;
	opacity: 0;
	text-transform: uppercase;
	text-shadow: 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
}
.nav ul li:hover a .text{
	opacity: 1;
}
.icon img{
	height: 30px;
}

/*INNER_NAV*/
.hov__inner{
	width: 100px;
	height: 100px;
	background-color: #fff;
	position: relative;
	display: flex;
}


/*WRAPPER*/
.wrapper{
    overflow: hidden;
	z-index: 1;
	background-color: rgb(100, 100, 100);
}
.container_pc,.container_conf,.container_about{
	width: 100vw;
    height: 75vh;
    overflow: hidden;
	background-color: rgba(238,240,245,.8);
}
.anch{
	margin-top: -50px;
  	position: absolute;
}


/*SLIDER*/
#main__container {
    width: 100vw;
    height: 75vh;
    overflow: hidden;
	position: relative;
}
.slider {
    position: absolute;
    width: 100%;
    height: 75vh;
}
.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 500ms;
}
.slide img {
	position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0;
}
.slider__text{
	position: relative;
	left:20%;
	top:50%;
	background-color: #ffffff10;
	backdrop-filter: blur(25px);
	width: 500px;
	height: 200px;
	border-radius: 20px;
	color: #fff;
	text-shadow: 1px 1px 8px #000, -1px -1px 8px #000;
}
.slider__text h1{
	padding: 5% 10% 5% 10%;
}
.slider__text p{
	padding: 5% 10% 0 10%;
	line-height: 170%;
}

/*CONTAINERS*/
.cont_shell{
	position: relative;
	margin-left: auto;
    margin-right: auto;
	width: 85%;
	justify-content: center;
    align-items: center;
	display: flex;
}
.cont_shell_back{
	top:7%;
	height: 85%;
	border-radius: 20px;
	background: url(../images/background.png) no-repeat;
	background-size: cover;

}
.container_select{
	display: flex;
	border-radius: 20px;
	width: 85%;
	height: 85%;
	justify-content: center;
    align-items: center;
}


/*СБОРКИ*/
.element_select{
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
    align-items: center;
}
.select_image{
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
    align-items: center;
	flex-direction: column;
}
.select_image img{
	height: 100%;
}
.cont_img{
	height: 65%;
	display: block;
	position: relative;
	z-index: 2;
	transition: transform .4s;
}
.figure_par{
	width: 20%;
    height: 16%;
	display: block;
	position: absolute;
	border: 1px solid rgba(88, 88, 88, 0.5);
	border-radius: 5px;
	transform: skew(-20deg);
	transition: transform .4s;
	z-index: 1;
}
.cont_text{
	display: block;
	position: relative;
	color: #000;
	transition: transform .4s;
	padding-top: 3%;
}
.cont_text p{
	opacity: 0;
	text-align: center;
}
.cont_text:visited{
	text-decoration: none;
}
.element_select:hover .cont_text{
	transform: scale(1.3) translateY(40px);
}
.element_select:hover .cont_text p{
	opacity: 1;
	transition: .4s;
}
.element_select:hover .cont_img{
	transform: scale(1.2);
}
.element_select:hover .figure_par{
	background: rgba(176, 87, 248, 0.5);
	transform: scale(1.4) skew(-20deg);
	border: none;
}


/*КОНФИГУРАТОР*/
#cfg{
	width: 100%;
	height: 100%;
	text-align: center;
	border-radius: 20px;
	font-size: 17px;
}
.price_input{
	margin: 5% 0 2% 0;
	width: 40%;
	height: 10%;
	padding-left: 5%;
	border-radius:20px;
	border: 0;
	box-shadow:0 0 15px 4px rgba(0,0,0,0.1);
	background: rgba(255, 255, 255, 0.781);
	font-size: 30px;
	transition: .2s;
	overflow: hidden;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.price_input::placeholder{
	color: #161616;
    opacity: 0.6;
	background: url(../images/arrow-forward-outline.svg) no-repeat;
	background-position: 80% 50%;
}
.price_input:hover{
	transform: scale(1.1);
	cursor:text;
}
.check{
	margin-left: auto;
	margin-right: auto;
	width: 35%;
	height: 40%;
	text-align: left;
	font-size: larger;
	line-height: 250%;
}
.check input{
	margin-right: 5%;
	width: 15px;
	height: 15px;
}
.check label:hover, input:hover{
	cursor: pointer;
}
.btn_cfg{
	margin: auto;
	width: 17%;
	height: 10%;
	transition: .2s;
	font-size: 140%;
	position: relative;
}
.btn_cfg:hover{
	cursor: pointer;
	transform: scale(1.1);
}

.btn_valid,.btn_cfg{
	position: relative;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .08em;
    border: 2px solid #AEA8D3;
	color: #FFF;
	background: #353535;
	cursor: pointer;
}

/*ABOUT*/
.about_content{
	width: 80%;
	height: 90%;

}
.headline{
	width: 100%;
	height: 10%;
	text-align: center;
	font-size: 60px;
	font-weight:bold;
}
.lead{
	width: 80%;
	font-size: 40px;
	margin-left: 10%;
	margin-top: 5%;
	line-height: 70px;
}
.lead a{
	color: rgb(101, 101, 101);
	height: 10%;
}
.lead img{
	width: 10%;
	height: 10%;
	margin-right: 10%;
}
.about_map{
	float: right;
	width: 60%;
	height: 90%;
	padding:3px;
	border-radius: 40px;
	background: linear-gradient(-45deg, #fe4596, #c188ed, #f2e189);
	background-size: 400%;
	animation: gradient 10s ease infinite;
}
.about_map iframe{
	width: 100%;
	height: 100%;
	border-radius: 40px;
}
.cont_shell_about{
	backdrop-filter: blur(10px);
	height:100%;
	display:flex;
	justify-content: space-between;
	padding: 0 7%;
	margin-left: auto;
    margin-right: auto;
	width: 95%;
	align-items: center;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/*FOOTER*/
.footer{
	width: 100%;
    height: 6vh;
    overflow: hidden;
	background-color: rgba(255,255,255,.9);
	display: flex;
    justify-content: space-between;
	padding: 1% 8%;
}